# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime Data
*.db
*.sqlite
*.sqlite3
server.log
server_*.log
verify_*.log
inference_results.csv

# Code Artifcats
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Environment Variables
.env
.env.local
.env.*.local
API_KEY

# Frontend / Node
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Virtual Envs
venv/
env/
.venv/
