fastapi
uvicorn
python-dotenv
requests
pydantic
sqlalchemy
groq
sentence-transformers
numpy
pandas
scikit-learn
joblib
faiss-cpu
# torch is usually installed via sentence-transformers, but explicit is safer
torch
transformers
websockets
python-multipart
